body{
    background-color: darkgray;
}
.col-md-6{
    margin-top: 16.3%;
}
input[type = button]{
    width: 100%;
    background-color: darkmagenta;
    color: white;
    font-weight: 600;
    border: 3px solid black;
}
input[type = text]{
    width: 100%;
}
h1{
    font-weight: bolder;
    margin-top: 15px;
}